.companions {
  position: relative;
  padding: 30px 0;
  margin-top: -30px;
  background-color: #192144;
  background-image: url(../img/rogovaya-back-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: left -10px top 26.7%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 5;
}
.companions__wrapper {
  .centering();
  padding-top: 39px;
}
.companions__inner {
  background-image: url(../img/smolov-back-desktop@1x.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.companions__desc {
  padding: 18px 27px 20px 23px;
  margin-bottom: 16px;
}
.companions__title {
  margin: 13px 0;
  font-size: 24px;
  line-height: 24px;
  color: @orange-title;
}
.companions__text {
  margin: 22px 0;
  font-weight: 300;
  color: #ffffff;
  &--bold {
    font-weight: 700;
  }
}
.companions__text br {
  display: none;
}
.companions__list {
  .list-reset();
  margin-bottom: 21px;
}
.companions__item {
  margin-bottom: 12px;
}
.companions__all {
  .square-btn();
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 22px 24px;
  &:hover {
    background-color: #ffbd30;
  }
  &:active {
    color: fade(@main-blue, 30%);
  }
}
.companions__all:active .companions__all-arrow {
  opacity: 0.3;
}
.companions__all-arrow {
  fill: @main-blue;
}
@media (min-width: @tablet-width) {
  .companions {
    padding: 60px 0 88px 0;
    margin-top: -60px;
    background-image: none;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  .companions__wrapper {
    .centering(@width: 688px, @padding: 40px);
    padding-top: 80px;
  }
  .companions__inner {
    padding: 13px 35px 0 35px;
    background-image: url(../img/smolov-back-desktop@1x.png), url(../img/rogovaya-back-desktop@1x.png);
    background-position: left top 346px, right 35px top;
  }
  .companions__desc {
    width: 430px;
    padding: 0;
  }
  .companions__title {
    margin: 45px 0 58px -4px;
    font-size: 45px;
    line-height: 45px;
  }
  .companions__text br {
    display: inline;
  }
  .companions__text {
    margin: 40px 0 40px 0;
    font-size: 28px;
    line-height: 33px;
    &--bold {
      font-size: 21px;
      line-height: 25px;
    }
  }
  .companions__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 68px;
  }
  .companions__item {
    margin-right: 48px;
    &:last-child {
      margin-right: 0;
    }
  }
  .companions__all {
    font-size: 24px;
    line-height: 24px;
    padding: 28.5px 36px 28.5px 32px;
    border-radius: 20px;
  }
}
@media (min-width: @desktop-width) {
  .companions {
    padding: 60px 0 80px 0;
  }
  .companions__wrapper {
    .centering(@width: 1320px, @padding: 60px);
    position: relative;
    padding-top: 68px;
  }
  .companions__inner {
    padding: 13px 690px 54px 71px;
    background-position: right 690px top 65px, left 131px bottom;
  }
  .companions__desc {
    margin-bottom: 85px;
  }
  .companions__list {
    position: absolute;
    right: 60px;
    top: 73px;
  }
  .companions__item {
    margin-right: 60px;
  }
  .companions__all {
    display: inline-flex;
    min-width: 280px;
    max-width: 430px;
    box-sizing: border-box;
  }
}
