.contacts-block {
  .list-reset();
  display: flex;
  font-size: 0;
  line-height: 0;
}
.contacts-block__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    border-radius: 50%;
  }
  &--tel {
    background-color: @orange-title;
    &::before {
      background-image: url(../img/topmenu-phone.svg);
    }
    &:hover {
      background-color: #f26926;
    }
  }
  &--email {
    background-color: #ffbd30;
    &::before {
      background-image: url(../img/topmenu-mail.svg);
    }
    &:hover {
      background-color: @orange-title;
    }
  }
}
.contacts-block__link:active {
  &::before {
    opacity: 0.3;
  }
}
@media (min-width: @desktop-width) {
  .contacts-block__link {
    width: 50px;
    height: 50px;
  }
}
