.countries__wrapper {
  .centering();
}
.countries__title {
  font-size: 24px;
  line-height: 24px;
  color: @orange-title;
}
.countries__desc {
  font-weight: 300;
}
.countries__list {
  .list-reset();
}
.countries__all {
  .square-btn();
}
