.country {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.country__img-block {
  display: flex;
  align-items: center;
  line-height: 0;
  background-color: #cccccc;
}

.country__desc {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 25px 18px 23px;
  margin-top: -10px;
  background-color: #ffffff;
  border-radius: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    width: 35px;
    height: 24px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px auto;
    transform: translateY(-50%);
  }
}

.country--thailand .country__desc::before {
  background-image: url("../img/flag-thailand.svg");
}

.country--france .country__desc::before {
  background-image: url("../img/flag-france.svg");
}

.country--czech .country__desc::before {
  background-image: url("../img/flag-czech.svg");
}

.country__title {
  margin: 4px 0;
  font-size: 21px;
  line-height: 21px;
  color: #161c35;
}

.country__text {
  margin: 4px 0;
  line-height: 18px;
  font-weight: 500;
  color: fade(@base-text-color, 30%);
}

.country__user-amount {
  position: relative;
  padding-left: 18px;
  margin: 2px 0;
  line-height: 30px;
  font-weight: 500;
  color: fade(@base-text-color, 30%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 100%;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 11px 11px;
    opacity: 0.1;
  }
}

@media (min-width: @tablet-width) {
  .country {
    flex-direction: row;
    border-radius: 20px;
  }

  .country__img {
    width: 186px;
    height: auto;
  }

  .country__desc {
    flex-direction: column;
    flex-grow: 1;
    width: 432px;
    padding-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
    box-sizing: border-box;
    border-radius: 0;
    order: -1;

    &::before {
      top: 15px;
      left: auto;
      right: 0;
      width: 70px;
      height: 47px;
      background-size: 70px auto;
      transform: translate(52%, 0);
    }
  }

  .country__title {
    font-size: 24px;
    line-height: 24px;
  }

  .country__text {
    font-size: 20px;
    line-height: 20px;
  }

  .country__user-amount {
    margin-top: 12px;
    padding-left: 30px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;

    &::before {
      width: 20px;
      background-size: 20px 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .country {
    width: 559px;
  }

  .country__desc {
    width: 373px;
    padding-top: 18px;

    &::before {
      top: 23px;
      transform: translate(51%, 0);
    }
  }

  .country__user-amount {
    margin-top: 17px;
  }
}
