.country__title {
  font-size: 21px;
  line-height: 21px;
  color: #161c35;
}
.country__text {
  line-height: 18px;
  font-weight: 500;
  color: fade(@base-text-color, 30%);
}
.country__user-amount {
  line-height: 30px;
  font-weight: 500;
  color: fade(@base-text-color, 30%);
}
