.dropdown-block__table {
  border-collapse: collapse;
}
.dropdown-block__letter {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @main-blue;
  text-transform: uppercase;
  border: 1px solid #cbced9;
}
.dropdown-block__letter--active {
  background-color: #edeff6;
}
.dropdown-block__list-countries {
  .list-reset();
    border-right: 1px solid #cbced9;
    border-bottom: 1px solid #cbced9;
    border-left: 1px solid #cbced9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.dropdown-block__countries-list {
  .list-reset();
}
.dropdown-block__item {
  font-weight: 700;
  color: fade(#192144, 30%);
  text-transform: uppercase;
  &--active {
    color: fade(#192144, 100%);
  }
}
.dropdown-block__country-link {
  color: @base-text-color;
}
.dropdown-block__btn-close {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #161c35;
  text-transform: uppercase;
  background-color: #d6daed;
  border: 0;
  border-radius: 20px;
}
