.filter {
  padding: 0;
  border: 0;
  border-top: 1px solid #f3c72b;
}

.filter--closed .filter__body {
  display: none;
}

.filter__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 11px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: @main-blue;
  text-transform: uppercase;
}

.filter__title span {
  display: none;
}

.filter__title-arrow {
  fill: #192144;
  transform: rotate(180deg);
  transform-origin: center;
}

.filter--closed .filter__title-arrow {
  transform: rotate(0);
}

.filter__body {
  .list-reset();
  margin-top: 15px;
  margin-bottom: 14px;
}

.filter__item {
  margin-bottom: 6px;
}

.filter__body.transport-list {
  justify-content: flex-start;
  margin-bottom: 18px;
}

.filter__label {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  line-height: 15px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.filter__visually-checkbox {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 9px;
  background-color: #ffffff;
  border-radius: 3px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px;
  }
}

.filter__checkbox:checked + .filter__visually-checkbox::before {
  background-image: url("../img/tick.svg");
}

.filter__level {
  position: relative;
  display: flex;
  margin-top: 13px;
  margin-bottom: 18px;
}

.filter__level-separator {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 16px;
  height: 11px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #cbced9;
  }
}

.filter__level-label:last-child {
  margin-left: -1px;
}

.filter__level-value {
  position: relative;
  width: 108px;
  padding: 7.5px 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  color: @main-blue;
  text-align: center;
  border: 1px solid #cbced9;
  appearance: textfield;
  outline: 0;

  &--min {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &--max {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    border-color: #959bb2;
    z-index: 2;
  }

  &:focus {
    border-color: #161c35;
    z-index: 2;
  }
}

.filter__level-value::-webkit-outer-spin-button,
.filter__level-value::-webkit-inner-spin-button {
  appearance: none;
}

.filter__level-controls {
  position: relative;
  padding: 4px 0;
}

.filter__level-scale {
  height: 2px;
  background-color: fade(@main-blue, 20%);
}

.filter__level-bar {
  width: 70%;
  height: 100%;
  margin-left: 30%;
  background-color: @main-blue;
}

.filter__level-toggle {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: @main-blue;
  border-radius: 50%;

  &--min {
    left: 30%;
  }

  &--max {
    right: 0;
  }

  &:hover {
    transform: scale(1.45);
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
  }
}

@media (min-width: @tablet-width) {
  .filter {
    display: flex;
    align-items: center;
    border: 0;
  }

  .filter__title {
    display: block;
    min-width: 121px;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    cursor: pointer;
  }

  .filter__title span {
    display: inline;
  }

  .filter__title-arrow {
    display: none;
  }

  .filter__body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-left: 5px;
    margin: 0;
  }

  .filter__body.transport-list {
    padding-left: 0;
    margin-bottom: 0;
  }

  .filter__item {
    margin-bottom: 0;
    line-height: 0;

    &:first-child {
      width: 169px;
    }

    &:nth-child(2) {
      width: 173px;
    }
  }

  .filter__label {
    font-size: 20px;
    line-height: 20px;
  }

  .filter__visually-checkbox {
    width: 24px;
    height: 24px;
    margin-right: 12px;

    &::before {
      background-size: 12px;
    }
  }

  .filter__level {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }

  .filter__level-value {
    width: 73px;
    padding: 10.5px 0;
    font-size: 20px;
    line-height: 18px;
  }

  .filter__level-scale {
    width: 283px;
    height: 3px;
  }

  .filter__level-controls {
    padding: 5px 0;
    order: -1;
  }

  .filter__level-toggle {
    width: 13px;
    height: 13px;
  }
}

@media (min-width: @desktop-width) {
  .filter {
    display: block;
  }

  .filter__title {
    display: flex;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .filter__title span {
    display: none;
  }

  .filter__title-arrow {
    display: inline;
    width: 10px;
    height: 5px;
  }

  .filter__body {
    display: block;
    padding-left: 0;
    margin-top: 22px;
    margin-bottom: 26px;
  }

  .filter__item {
    margin-bottom: 16px;

    &:first-child {
      width: auto;
    }

    &:nth-child(2) {
      width: auto;
    }
  }

  .filter__body.transport-list {
    display: flex;
    margin-top: 16px;
    margin-left: -4px;
    margin-bottom: 28px;
  }

  .filter--closed .filter__body {
    display: none;
  }

  .filter__level {
    margin-bottom: 32px;
  }

  .filter__level-label {
    width: 50%;

    &:last-child {
      margin-left: 1px;
    }
  }

  .filter__level-value {
    width: 100%;
  }

  .filter__level-separator {
    width: 21px;
  }

  .filter__level-scale {
    width: 100%;
  }
}
