.filter-country {
  background-color: #e2e5f2;
}
.filter-country__wrapper {
  .centering();
}
.filter-country__title {
  font-size: 16px;
  color: #192144;
  text-transform: uppercase;
}
.filter-country .dropdown-block__letter {
  background-color: #ffffff;
  &--active {
    background-color: @main-blue;
    color: #ffffff;
  }
}
.filter-country .dropdown-block__list-countries {
  border: 0;
}
