.page-header {
  padding-top: 73px;
  background-color: #161c34;

  &--inner-page {
    padding-top: 57px;
  }
}

.page-header .contacts-block {
  display: none;
}

.page-header .user-list__login {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding-top: 132px;

    &--inner-page {
      background-color: #161c35;
    }
  }

  .page-header .user-block {
    display: block;
  }
}

@media (max-width: @end-tablet-width) {
  .page-header--no-js {
    padding-top: 0;
  }

  .page-header--no-js .main-nav {
    position: static;
  }

  .page-header--no-js .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding-top: 99px;
  }

  .page-header .contacts-block {
    display: flex;
  }

  .page-header .user-block {
    display: flex;
  }
}
