.step {
  background-color: #ffffff;
  border-radius: 10px;
}
.step__subtitle {
  font-size: 20px;
  line-height: 20px;
  color: @main-blue;
}
.step__label {
  line-height: 16px;
  font-weight: 500;
  color: @main-blue;
  text-transform: uppercase;
}
.step__label span {
  color: fade(@main-blue, 30%);
}
.step__checkbox-label {
  font-size: 15px;
  line-height: 15px;
}
.step__btn {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #161c35;
  text-transform: uppercase;
  text-align: center;
  background-color: @yellow-btn;
  border: 0;
  border-radius: 20px;
  &--back {
    background-color: transparent;
    border-radius: 0;
  }
}
.step__add-country {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @main-blue;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  border: 0;
  border-radius: 4px;
  background-color: #edeff6;
}
