.tags-travelmates {
  .list-reset();
  max-width: 100%;
  padding: 0 11px;
  text-align: center;
}

.tags-travelmates__item {
  display: inline-block;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .tags-travelmates {
    font-size: 20px;
    line-height: 24px;
  }
}
