.tariffs {
  .list-reset();
}
.tariffs__desc {
  font-weight: 300;
}
.tariffs__number {
  line-height: 16px;
  color: #ffffff;
  text-align: center;
}
.add-yourself__business-tariff {
  line-height: 16px;
  font-weight: 700;
  color: #192144;
}
