.transport-list {
  .list-reset();
  display: flex;
  justify-content: center;
}
.transport-list__item {
  font-size: 0;
  line-height: 0;
}
.transport-list__img {
  opacity: 0.15;
}
.transport-list__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: #ffffff;
  border-radius: 50%;
}
.transport-list__checkbox:checked + label > .transport-list__img {
  opacity: 1;
  fill: @main-blue;
}
