.user-setting__wrapper {
  .centering();
}
.user-setting__level {
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  color: #161c35;
}
.user-setting__level span {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: @base-text-color;
}
.user-setting__edit-photo {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #161c35;
  text-transform: uppercase;
  text-align: center;
  background-color: #dfe3f0;
  border: 0;
  border-radius: 20px;
}
